@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding:0;
}

*{
box-sizing: border-box;
}
body{
margin: 0;
font-family: poppins, Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: 400;
color: #666666;
background: #eaeff4;
}

.wrapper{
margin: 0 auto;
width: 100%;
max-width: 1140px;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.container{
position: relative;
width: 100%;
max-width: 600px;
height: auto;
display: flex;
background: #ffffff;
box-shadow: 0 0 5px #999999;
}
.login .col-left,
.login .col-right{
padding: 30px;
display: flex;
}
.login .col-left{
width: 60%;
clip-path: polygon(0 0, 0% 100%, 100% 0 );
background: #2aa15f;
}
.login .col-right{
padding: 60px 30px;
width: 50%;
margin-left: -10%;
}

@media(max-width: 575px){
.login .container{
    flex-direction: column;
    box-shadow: none;
}
.login .col-left,
.login .col-right{
 width: 100%;
 margin: 0;
 clip-path: none;
}
.login .col-right{
    padding: 30px;
}


}


.login .login-text{
position: relative;
width: 100%;
color: #ffffff;
}
.login .login-text h2{
margin: 0 0 15px 0;
font-size: 30px;
font-weight: 700;
}
.login .login-text p{
margin: 0 0 20px 0;
font-size: 16px;
font-weight: 500;
line-height: 22px;
}

.login .login-text .btn{
display: inline-block;
font-family: poppins;
padding: 7px 20px;
font-size: 16px;
letter-spacing: 1px;
text-decoration: none;
border-radius: 30px;
color: #ffffff;
outline: none;
border: 1px solid #ffffff;
box-shadow: inset 0 0 0 0 #ffffff;
transition: .3s;
}
.login .login-text .btn:hover{
color: #2aa15f;
box-shadow: inset 150px 0 0 0  #ffffff;
}


.login .login-form{
position: relative;
width: 100%;
}
.login .login-form h2{
margin: 0 0 15px 0;
font-size: 22px;
font-weight: 700;
}
.login .login-form p{
margin: 0 0 10px 0;
text-align: left;
color: #666666;
font-size: 15px;
}
.login .login-form p:last-child{
margin: 0;
padding-top: 3px;
}
.login .login-form p a{
color: #2aa15f;
font-size: 14px;
text-decoration: none;
}
.login .login-form label {
display: block;
width: 100%;
margin-bottom: 2px;
letter-spacing: .5px;
}
.login .login-form p:last-child label{
width: 60%;
float: left;
}
.login .login-form label span{
color: #ff574e;
padding-left: 2px;
}
.login .login-form input{
display: block;
width: 100%;
height: 35px;
padding: 0 10px;
outline: none;
border: 1px solid #cccccc;
border-radius: 30px;
}
.login .login-form input:focus{
border-color: #ff574e;
}
.login .login-form button,
.login .login-form input {
display: inline-block;
width: 100%;
margin-top: 5px;
color: #2aa15f;
font-size: 16px;
letter-spacing: 1px;
cursor: pointer;
background: transparent;
border: 1px solid #2aa15f;
border-radius: 30px;
box-shadow: inset 0 0 0 0 #2aa15f;
transition: .3s;
}
.login .login-form button:hover,
.login .login-form input:hover{
color: #ffffff;
box-shadow: inset 250px 0 0 0 #2aa15f;
}



.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
        width: 35%;
        /* border: 3px solid white; */
        border-radius: 4px;
     /* margin: 5px; */
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
    
}

.nav-list{
    width: 70%; 
    display: flex; 
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover{ 
    color: rgb(197, 194, 194);
}

.rightNav{ 
    width: 30%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../img/bgg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}


.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px; 
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.btn a{
    color: white;
    text-decoration: none;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.one{
height: 35px;
}
.new{
    margin-top: 10px;
    font-size: 15px;
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    outline: none;
    color: black;
    height: 45px;
}

.new a{
    color: black;
    text-decoration: none;
}

.new :focus{
    outline: none;
}

.a1{
    color: black;
}
